*{margin:0;
    padding: 0;
color:#000000}
.main{
    display: flex;
}
.options{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: #e0e0e0;
    height: auto;
    width: 30vw;
    position: fixed;
    height: 100vh;
    
}

h1{
    display: inline;
}
a{ 
    
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

}

a:hover{
    font-size: 20px;
    text-decoration: underline;
    
}
.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    align-items: center;
    height: 100vh;
     width: auto;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)),url(background.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position:absolute;
    left:30vw;
    overflow: hidden;
    
  
    
}
body{
    width: 100vw;
    overflow-x: hidden;
}
img{
    
    height: 20%;
    border-radius: 50%;
  
}
.pp{
    width: 20%;
    height: auto;
    margin-right: 40%;
    margin-left: 40%;

}
text{
    font-weight: 200;
}
name{
    font-size: 35px;
    font-weight: 700;
}
text1{
    font-weight: 200;
    font-size: 18px;
}
.coding{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)), url(codingbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: left;
    width: 70vw;
    padding-top: 5%;
    position:absolute;
    left:30vw;
    overflow: hidden;
    
}
texti{

    padding-left: 50px;
    margin-left: 55px;
}
li{ margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}
.contact{
    background-image: url(contactbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     width: auto;width: 70vw;
     position:absolute;
    left:30vw;
    overflow: hidden;

}
.code{
    margin: 50px;
}
.INTEREST{
    background-image: url(interest.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     width: auto;width: 70vw;
     position:absolute;
    left:30vw;
    margin: 6vw;
    
}
.sk{
    font-size: 30px;
    
    font-weight: 800;
    
}